@import "variables.css";
@import "fonts.css";
@import "reset.css";
@import "src/section-styles/section-information.css";
@import "src/section-styles/section-hero.css";
@import "src/section-styles/section-running-line.css";
@import "src/section-styles/section-stages.css";
@import "src/section-styles/section-members.css";
@import "src/section-styles/section-footer.css";

body {
  font-family: var(--font-base);
  color: var(--color-black);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

h1 {
  font-size: 2.25rem;
  font-family: var(--font-header);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  line-height: 110%;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-header);
  text-transform: uppercase;
  line-height: 120%;
}

h6 {
  font-size: 1.25rem;
  color: var(--color-blue)
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  text-align: center;
  padding: 0.82rem 0;
  transition: 0.5s;
  width: 100%;
  border-radius: 4.125rem;
  line-height: 130%;
}

.btn_full {
  background-color: var(--color-black);
}

.btn_full:hover {
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.btn_border {
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn_border:hover {
  background-color: var(--color-yellow);
}

.header-align-center {
  display: block;
  text-align: center;
}

.header-align-right {
  display: block;
  text-align: right;
}

.slider-navigation-button {
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--color-black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.slider-navigation-button:hover {
  background-color: var(--color-yellow);
}

.slider-navigation-button > svg {
  height: 1rem;
}

.slider-navigation-button_disabled {
  background-color: var(--color-gray);
}

.aos {
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.27);
  transition-duration: 0.7s;
}

.aos-up {
  transform: translateY(5rem);
  opacity: 0;
}

.aos-right {
  transform: translateX(-10rem);
  opacity: 0;
}

.aos-init {
  transform: none;
  opacity: 1;
}

.aos-daley-2 {
  transition-delay: 0.2s;
}

.aos-daley-3 {
  transition-delay: 0.3s;
}


.aos-daley-4 {
  transition-delay: 0.4s;
}

.aos-daley-5 {
  transition-delay: 0.5s;
}

.aos-daley-6 {
  transition-delay: 0.6s;
}

.aos-daley-7 {
  transition-delay: 0.7s;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.75rem;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .btn {
    padding: 1.25rem 3.125rem;
    height: 4.5rem;
    width: 16.4375rem;
    border-radius: 4.125rem;
  }

  .btn_border {
    border: solid var(--color-black) 0.125rem;
    background-color: inherit;
    color: var(--color-black);
  }

  .btn_border:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }

}

@media (min-width: 1360px) {

  .container {
    max-width: 1254px;
  }

  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 3.375rem;
  }

}

@media (min-width: 1604px) {

  .container {
    max-width: 1300px;
  }
}


