body {
  font-family: var(--font-base);
  color: var(--color-black);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

h1 {
  font-size: 2.25rem;
  font-family: var(--font-header);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  line-height: 110%;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-header);
  text-transform: uppercase;
  line-height: 120%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  text-align: center;
  padding: 0.82rem 0;
  transition: 0.5s;
  width: 100%;
  border-radius: 4.125rem;
  line-height: 130%;
}

.btn_full {
  background-color: var(--color-black);
}

.btn_full:hover {
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.btn_border {
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn_border:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.slider-navigation-button {
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--color-black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.slider-navigation-button:not(.slider-navigation-button_disabled):hover {
  background-color: var(--color-yellow);
}

.slider-navigation-button > svg {
  height: 1rem;
}

.slider-navigation-button_disabled {
  background-color: var(--color-gray);
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.75rem;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .btn {
    padding: 1.25rem 3.125rem;
    height: 4.5rem;
    width: 16.4375rem;
    border-radius: 4.125rem;
  }

  .btn_border {
    border: solid var(--color-black) 0.125rem;
    background-color: inherit;
    color: var(--color-black);
  }

}

@media (min-width: 1360px) {

  .container {
    max-width: 1254px;
  }

  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 3.375rem;
  }

}

@media (min-width: 1604px) {

  .container {
    max-width: 1300px;
  }
}
